body    {
    background-color: black;
    color:white;
}

h1  {
    font-size: 20px;
}

p   {
    font-size: 12px;
    color: green;
}

.div {
    width: 100px;
    height: 100px;
    border: dotted; border-width: 2px;
}
